body{

background-color: gray;
/* width:9933px;
height: 7016px; */
margin: 0;
text-align: center;


}
#heading{

background-color:purple;
text-align: center;
margin:0;
display: flex; 
/* align-items:baseline; */
justify-content:space-between;

}
#logo{
    width: 300px;
    height: 98.75px;
    margin-right: 10px;
}
h3{
     margin: 0; 

}
/* #pic{
    margin-left: 1000px;
} */
#dit{
    text-align: center;
    margin-left: 50%;
}

 #over{
    display: flex;
    flex-direction: row; 
    /* align-items: baseline; */
    
   
   

} 

 .rows{
     border: 3px solid black;
    height: 1000px;
    width: 400px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px; 
    display:flex;
    flex-direction: column;
    position: relative;
    

  

} 



.coteret{
background-color:purple;
width: 400px;
height: 30px;
column-gap :50%;
text-align: center;



}
.secondhead{
    background-color:purple;
width: 400px;
height: 30px;
/* align-self: flex-end; */
position:absolute;
top: 50%;

text-align: center;
font-size: 20px;

}
p{
    padding: 0;
    margin: 0;
}
